.container {
  background-color: rgba(0, 0, 0, 0.6);
}

.controlcenter scale {
  background-color: transparent;
}
.controlcenter scale slider {
  box-shadow: none;
  background-image: none;
  border: none;
}
.controlcenter scale highlight {
  background-color: white;
  border: none;
  border-radius: 0px;
}
.controlcenter scale trough {
  background-image: none;
  background-color: transparent;
  min-height: 60px;
  min-width: 100px;
  border: 0px;
}

.osd {
  font-size: 32px;
  color: white;
}

.osd levelbar trough {
  background-color: transparent;
  border: none;
}

.osd levelbar block.filled {
  background-color: white;
  border: none;
}

.osd levelbar block.empty {
  background-color: transparent;
  border: none;
}

.sys_button {
  min-width: 100px;
  min-height: 100px;
}

.powermenu {
  background-color: rgba(0, 0, 0, 0.3);
}

.powermenu button {
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  box-shadow: none;
  min-width: 150px;
  min-height: 150px;
}

.powermenu button:hover {
  background: white;
  color: black;
}

.notification {
  font-size: 16px;
}

.launcher entry {
  border-radius: 0px;
}
.launcher button {
  background: transparent;
  color: white;
  border: none;
  box-shadow: none;
  border-radius: 0px;
}

.launcher button:focus {
  background: white;
  color: black;
}

.launcher button:hover {
  background: white;
  color: black;
}

.launcher scrollbar {
  background-color: transparent;
  color: transparent;
}

.launcher scrollbar slider {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.overview scrollbar {
  background-color: transparent;
  color: transparent;
}

.overview scrollbar slider {
  background-color: transparent;
  box-shadow: none;
  border: none;
}
