* {
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button  {
    all: unset;
    background-color: #ebdbb2;
    color: #1d2021;
    border: none;
    border-radius: 2px;
    margin: 4px; 
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
	padding: 2px 8px 2px 8px;
    transition: transform 0.1s ease-in-out;
}

#workspaces button.focused  {
    background-color:  #f53c3c; 
}

#mode {
    background-color: #64727D;
    color: #1d2021;
    border: none;
    border-radius: 2px;
    margin: 4px; 
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
	padding: 2px 8px 2px 8px;
    transition: transform 0.1s ease-in-out;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

#window {
    background-color: #32302f;
    color: #ebdbb2;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

#clock {
    background-color: #98971a;
    color: #1d2021;
    font-family:  monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

#battery {
    background-color: #5d9da0;
    color: #1d2021;
    font-family:  monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #e23c2c;
    color: #1d2021;
    font-family:  monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #689d6a;
    color: #1d2021;
    font-family:  monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

#memory {
    background-color: #c8779b;
    color: #1d2021;
    font-family:  monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #98bbad;
    color: #1d2021;
    font-family:  monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

/* #network { */
/*     background-color: #2980b9; */
/* } */
/**/
/* #network.disconnected { */
/*     background-color: #f53c3c; */
/* } */

#pulseaudio {
    background-color: #f2b13c;
    color: #1d2021;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

/*
#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}
*/

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#network{
    background-color: #b16286;
    color: #1d2021;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px;
}
#tray {
    background-color: #d3869b;
    color: #1d2021;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 6px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

tooltip {
  background-color: #1d2021;
  border: none;
  border-radius: 2px;
}

tooltip decoration {
  box-shadow: none;
}

tooltip decoration:backdrop {
  box-shadow: none;
}

tooltip label {
  color: #ebdbb2;
  font-family:  monospace;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}
